.myDialog{
    -fx-background-color: #cd5c5c;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #cd5c5c;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-color:  #ffffe0;
    -fx-text-fill: #ffffe0;
    
}
.myDialog:header *.header-panel{
    -fx-background-color: rgba(139, 0, 0, 0.74);
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffe0;
    -fx-font-color: #ffffe0;
}

.dialog-pane .button{
   -fx-background-color:#b22222;
   -fx-text-fill:#ffffe0;
   -fx-wrap-text: true;
   -fx-cursor:hand;
 }
.dialog-pane .button:hover{
    -fx-effect: dropshadow( three-pass-box, #000000, 10.0, 0.0, 0.0, 0.0);

}