.button{
    -fx-background-color: #2a0704;
    -fx-border-color:  #590d08;
    -fx-border-width: 3 3 3 3;
    -fx-border-radius:  3 3 0 0;
    -fx-border-insets: -1;
    -fx-alignment: center;
}
.button:hover {
    -fx-border-color: #741009;
    -fx-border-width: 5 5 5 5;
}
.button:pressed{
    -fx-background-color: #180402;

}

